body {
  font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Fira Sans', sans-serif !important;

}

h1,h2 {
  color:#000 !important;
}

.sidebarStyle {
  display: inline-block !important;
  position: relative !important;
  top: 60px !important;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 100000000 !important;
  padding: 6px;
  font-weight: bold;
}



.ui.items>.item>.content {
  padding: 10px !important;
  border-bottom: 1px solid #eee;
}

.ui.header {
  margin-top:90px !important;
  color:#000 !important;
}


.logo {
  width:90% !important;
  margin-right:20px;
  padding:20px;
}

.App {
  background-color:#e0ede6
}

.ui.attached.menu:not(.tabular) {
background-color: #fcfcfc;
}

h2 {
  font-size:46px !important;
  text-align:center;
  margin-top:30px !important;
}

.header p {
  text-align: center;
  color: #666;
  font-weight: 400;
}

button {
  background-color: #427abe !important;
  color: white !important;
}

i.icon.medkit:before {
  color: #E6BF46 !important;
}

.secondContainer {
  background-color: #fff;
  height: 100%;
  padding: 10px;
}

.secondContainer h1 {
  margin-top: 40px !important;
  font-weight: 600;
}

.contactForm {
  padding: 60px;
  color: white;
}

.magic {
  height: 100%;
  padding: 100px;
  background-color:#427abe;
}

.magic h2 {
  color:white !important;
}

.magic h4 {
  color:white !important;
}

.testing {
  width: 80% !important;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px;
  height: 100%;
}

i.huge.icon {
  margin-top: 110px !important;
  color: #314A3C;
}

.ui.basic.blue.button, .user .circle .huge .icon {
  margin-top: -20px !important;
}

.react-typewriter-text {
  font-size:56px !important;
  text-align:center !important;
}


.ui.basic.blue.button {
  color: #5B7FCC !important;
}


#contact {
  background-color: #e5e6f5
}

button a {
  color: white !important;
}

.ui.menu .item a {
  color: black;
}

#magic img {
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 30px;
  padding: 20px;
  border-radius: 50%;
}

#magic .header {
  margin-top:30px;
}

.secondContainer img {
  padding: 40px;
}

@media (max-width:760px) {
  .header {
    margin-top: 10px !important;
  }

  .ui.basic.blue.button, .user .circle .huge .icon {
    margin-top: -10px !important;
    float: left !important;
  }

  i.huge.icon {
    margin-top: 10px !important;
  }

  .testing {
    width: 100% !important;
  }

  .
}
