
body {
  font-family: 'Montserrat', sans-serif !important;
}

h1,h2,h3,h4,h5 {
  font-family: 'Fira Sans', sans-serif !important;
}

.ui.items>.item>.content {
  padding:10px !important;
  border-bottom:1px solid #eee;
}

/* .ui.text.container {
  border-bottom:1px solid #eee;
} */

.header{
  margin-top:100px !important;
  text-align:center;
}

.header p {
  text-align:center;
  color: #666;
  font-weight:400;
}

button {
  background-color: #E6BF46 !important;
  color:white !important;
}

i.icon.medkit:before {
 color:  #E6BF46 !important;
}

.secondContainer {
  background-color: #F9F8F9;
  height:60vh;
}

.secondContainer h1 {
  margin-top:40px !important;
  font-weight:600;
}

.contactForm {
  padding:60px;
  color:white;
}

.magic {
  height:100%;
  padding:50px;
}

.testing{
  width:60% !important;
  margin:0 auto;
  margin-top:50px;
  padding:30px;
  height:50vh;
}

.ui.basic.blue.button {
  color: #5B7FCC !important;
  }

.contactForm .ui.form .field>label, .inline .fields{
  color:white !important;
}

.ui.checkbox input.hidden+label, .ui.form .inline.fields>label {
  color:white !important;
}
